{{ define "main" }}
<div class="archive animated fadeInDown">

  <ul class="list-with-title">

    <div class="listing-title"> Medium Yazılarım</div>
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    {{ range $paginator.Pages }}
    <ul class="listing">
      <div class="listing-item">
        <div class="listing-post"><a href="{{  .Page.Params.Medium }}" title="{{ .Title }}">{{ .Title }}</a>
          <div class="post-time"><span class="date">{{.Date.Format "1-2-2006" }}</span></div>
        </div>
      </div>
    </ul>
    {{ end }}
  </ul>
  <div>
  </div>

  <div class="pagination">
    {{ template "_internal/pagination.html" . }}
  </div>
  {{ end }}